<h1>List of photos</h1>

<hr>
<table border=1>
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted	</th>
    <th></th>
  </tr>

  <!-- do loop goes here -->

<% @list_of_photos.each do |each_photo| %>
  <tr>
    <td><img src="<%= each_photo.image %>"></td>
    <td><%= each_photo.caption %></td>
    <td><%= each_photo.poster.username %></td>
    <td><%= each_photo.created_at %></td>
    <td><a href="/photos/<%= each_photo.id %>">Show details</a></td>
  </tr>
  <% end %>
</table>
